<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login/register</title>
  <style>
        label,input{
            padding: 10px;
            margin-bottom:10px;
            border: 1px solid #ccc;
            border-radius:3px;
        }

  </style>
</head>
<body>
     <form action="#login" method="post">
      <label for="userid">USERID: </label>
      <input type="text" id="roll-no" name="roll_no" required>
     <br>
      <label for="password">PASSWORD</label>
      <input type="password" id="password" name="password" required>
     <br>
      <button>LOGIN</button>
  </form>
</body>
</html>